<div class="app-title">
  <h1>Login</h1>
</div>
<div class="alert alert-success" *ngIf="success" role="alert">
  ¡Registro exitoso! Ya puede iniciar sesion
</div>
<form (ngSubmit)="onSubmit()" [formGroup]="formLogin">
  <div class="form-group">
    <label for="exampleInputEmail1">Email</label>
    <input type="email" class="form-control" [ngClass]="{'is-invalid': !formLogin.get('email').valid && formLogin.get('email').touched}"
      formControlName="email" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Email">
    <div class="invalid-feedback">
      Ponga un e-mail valido
    </div>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" formControlName="password" id="exampleInputPassword1" placeholder="Password">
  </div>
  <div #myModal class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Error</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          {{ mensaje }}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <button type="submit" class="btn btn-primary btn-large btn-block">Login</button>
  <a class="login-link" [routerLink]="['/auth/signup']">Crear Cuenta</a>
</form>
<app-loading-screen *ngIf="loading"></app-loading-screen>