.parkingDetail {
  margin: 10px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

#password + .glyphicon {
  cursor: pointer;
  pointer-events: all;
}

/* Styles for CodePen Demo Only */
#wrapper {
 max-width: 500px;
 margin: auto;
 padding-top: 25vh;
}

agm-map {
  height: 300px;
}

.marg-bot{
  margin-bottom: 25px;
}
.dashed {
  border-style: dashed;
  border-color: #BDBDBD;
  min-height: 220px;
  padding-bottom: 20px;
}
.dashed.dashdrop {
  border-color: #FF5722;
}
.dashed .cloud {
  background-image: url("../../../../assets/cloud.png");
  width: 100px;
  height: 100px;
  background-size: contain;
  margin: auto;
}
.dashed .cloud.boxdrop {
  background-image: url("../../../../assets/cloudcolor.png");
}
.dashed .span {
  margin: 10px 0 0 0;
  color: #757575;
  position: relative;
}
.dashed .span::before {
  left: 0;
}
.dashed .span::after {
  right: 0;
}
.dashed .span::before, .dashed .span::after {
  position: absolute;
  content: "";
  height: 2px;
  background: #757575;
  width: 40%;
  top: 50%;
  transform: translateY(-50%);
}
.dashed .btn-subir-imgs {
  background: #FF5722;
  width: 100%;
  color: #FFFFFF;
  font-size: 18px;
  font-weight: bold;
  height: 40px;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 2px 0px -2px rgba(0, 0, 0, 0.2), 0 2px 5px 0 rgba(0, 0, 0, 0.12);
  transition: all 0.25 ease;
}
.dashed .btn-subir-imgs .subirimagen {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.dashed .btn-subir-imgs input {
  display: none;
}
.dashed .btn-subir-imgs:hover {
  background: #F2F2F2;
  height: 42px;
  color: #FF5722;
  box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
}


.upload_img li {
  list-style: none;
  position: relative;
  height: 155px;
}
.upload_img li .img-fluid {
  height: 100%;
  object-fit: cover;
}
.upload_img li .img-close {
  cursor: pointer;
  position: absolute;
  top: -15px;
  right: 0;
  background: #F2F2F2;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #757575;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 2px 0px -2px rgba(0, 0, 0, 0.2), 0 2px 5px 0 rgba(0, 0, 0, 0.12);
}
.upload_img li .img-close i {
  padding: 5px 5px;
  font-size: 18px;
}
.my-container {
  position: relative;
  overflow: hidden;
}
.my-container img.fondo {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.3;
}