<div class="parkingDetail">
  <div class="card">
    <a data-toggle="collapse" href="#collapse{{index}}" aria-expanded="true" aria-controls="collapse">
      <div class="card-header" role="button" id="headingOne">
        <h5 class="mb-0">
          {{ employee.first_name }} {{ employee.last_name }}
        </h5>
      </div>
    </a>

    <div id="collapse{{index}}" class="collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body my-container">

        <form [formGroup]="formDetail" (ngSubmit)="onSubmit()">
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="inputFirstName">Nombres</label>
              <input type="text" class="form-control" formControlName="first_name" id="inputFirstName" placeholder="Nombres">
            </div>
            <div class="form-group col-md-6">
              <label for="inputLastName">Apellidos</label>
              <input type="text" class="form-control" formControlName="last_name" id="inputLastName" placeholder="Apellidos">
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="inputDNI">DNI</label>
              <input type="number" class="form-control" formControlName="dni" id="inputDNI" placeholder="DNI">
            </div>
            <div class="form-group col-md-6">
              <label for="inputPhone">Telefono</label>
              <input type="text" class="form-control" formControlName="phone_number" id="inputPhone" placeholder="Telefono">
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="inputPosition">Cargo</label>
              <input type="text" class="form-control" formControlName="position" id="inputPosition" placeholder="Cargo">
            </div>
            <div class="form-group col-md-6">
              <label for="inputSalary">Salario</label>
              <input type="number" class="form-control" formControlName="salary" id="inputSalary" placeholder="Salario">
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="selectParking">Cochera donde labora</label>
              <select class="form-control" id="selectParking" formControlName="id_parking">
                <option [ngValue]="null">Ninguno</option>
                <option *ngFor="let parking of parkingNames" [ngValue]="parking.id">{{parking.name}}</option>
              </select>
            </div>
            <div class="form-group col-md-6">
              <div class="form-row" *ngIf="editMode">
                <div class="form-group col-md-6">
                  <button type="submit" [disabled]="loadingSave" class="btn btn-success btn-block">
                    <i class="fa fa-spinner fa-spin" *ngIf="loadingSave" aria-hidden="true"></i> Guardar</button>
                </div>
                <div class="form-group col-md-6">
                  <button type="button" class="btn btn-danger btn-block" (click)="onCancelar()">Cancelar</button>
                </div>
              </div>
              <div class="form-row" *ngIf="!editMode">
                <div class="form-group col-md-12">
                  <button type="button" class="btn btn-primary btn-block" (click)="onEditMode()">Editar</button>
                </div>
              </div>
            </div>
          </div>
          <div #modalError class="modal fade" id="exampleModal6{{index}}" tabindex="-1" role="dialog" aria-labelledby="exampleModal6Label"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModal6Label">Error</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  {{ errorModal }}
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
        </form>

      </div>
    </div>
  </div>
</div>