* {
  margin: 0;
  padding: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-color: #47d1da;
  color: white;
  font: bold 400% Helvetica,Arial;
  text-align: center;
}

#loader {
  display: inline-block;
  position: relative;
  -webkit-animation: rotate 1.5s linear infinite;
  animation: rotate 1.5s linear infinite;
}

small {
  display: block;
  line-height: 2.25em;
}

.reloadDouble {
  border-color: transparent black;
  border-radius: 50%;
  border-style: solid;
  border-width: .125em;
  height: 1.5em;
  margin: .25em;
  width: 1.5em;
}
.reloadDouble:before, .reloadDouble:after {
  border-style: solid;
  content: '';
  display: block;
  position: absolute;
  width: 0;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.reloadDouble:after {
  border-color: transparent transparent transparent black;
  border-width: .3125em 0 .3125em .5em;
  top: -.3125em;
  left: .0625em;
}
.reloadDouble:before {
  border-color: transparent white transparent transparent;
  border-width: .3125em .5em .3125em 0;
  bottom: -.3125em;
  right: .0625em;
}

.reloadSingle {
  height: 2em;
  padding: .25em;
  width: 2em;
}
.reloadSingle:before, .reloadSingle:after {
  content: '';
  display: block;
}
.reloadSingle:before {
  border-color: transparent black black black;
  border-radius: 50%;
  border-style: solid;
  border-width: .125em;
  height: 1.5em;
  width: 1.5em;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.reloadSingle:after {
  border-color: transparent transparent transparent black;
  border-style: solid;
  border-width: .3125em 0 .3125em .5em;
  height: 0;
  position: absolute;
  top: 0;
  left: 50%;
  width: 0;
}
